@model IEnumerable<JouskaUnivesrity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Statistics";
}
<div class="container">
    <br /><br /><br />
    <h3>Student Enrollment Statistics</h3>
    <br />
    <table class="table table-striped">
        <tr>
            <th>
                Enrollment Date
            </th>
            <th>
                Students Enrolled
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
        }
    </table>
</div>
