.body-content
{
    min-height: 700px;
}
.product-box:hover
{
    box-shadow: 2px 5px 10px #aaaaaa;
    transition: 0.4s ease;
    border-radius: 7px;
    padding:0;
}
.navbar-brand
{
    font-family: 'Kaushan Script', cursive; 
    margin-right: 30px;
}
.logo 
{
    font-size: 50px;
}
.navbar

{
    background-color: rgb(44, 62, 80);
    transition: 0.4s ease;
}
.navbar.top-of-page
{
    background-color: transparent;
    transition: 0.4s ease;
}
.landing
{
    background-image: url('../Catalog/Images/bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.btnCart 
{
    position:fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
}
.categoryBox
{
    padding: 30px;    
    border-radius: 10px;    
    background-color: #edeeef;
}
.para
{
    text-indent: 50px;
}
.admin-category
{
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.admin-category:hover
{
    box-shadow: 2px 2px 10px #aaaaaa;
    transition: 0.4s ease;
}
.add-box
{
    
    padding: 20px;
    box-shadow: 2px 2px 10px #aaaaaa;
    border-radius: 10px;

}
.custom-glyph
{
    font-size: 30px;
}
.cat-box:hover
{
    text-decoration:none;   
}
.custom-font
{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
}




