.body-content
{
    min-height: 700px;
}
.product-box:hover
{
    box-shadow: 2px 5px 10px #aaaaaa;
    transition: 0.4s ease;
    border-radius: 7px;
}
.landing
{
    background-image: url('../Catalog/Images/bg.jpg');
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.btnCart 
{
    position:fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
}
.categoryBox
{
    padding: 20px;    
    border-radius: 10px;    
    background-color: #edeeef;
}
.para
{
    text-indent: 50px;
}
